<!DOCTYPE html>
<html>
<head>
	<title>InnerEye Prediction</title>
	<link rel="stylesheet" type= "text/css" href= "{{ url_for('static',filename='styles/home_master.css') }}"/>
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous"/>
	<style>
		* {
			font-size:15px;
		}
	</style>
</head>
<body>
	<div class="main-body" id="div2">
		<center>
			<table style="width:100%">
			  	<tr>
				    <td style="text-align:center;"><h1 id="title" style="font-weight:bold"><img id="logo" src="{{ url_for('static',filename='images/logo.png') }}" style="height:40px;border:0px;padding-right:5px; " alt="Original">InnerEye Predictions</h1></td> 
			  	</tr>
			  	<tr>
				  	<td height="1">
				  		<p><center>This site can predict originality of a high-resolution image(JPEG).</center></p>
				  		<p><center>To perform the prediction, choose the image file and click 'Predict'.</center></p>
				  	</td>
			  	</tr>
			</table>
		</center>

			
		<div class="row">
		  	<div class="column" id="left">
				<div class="imagerow">
					<div class="imagecolumn">
						<div class="form-group">
								<img id="selected-image" style="width:240px;height:135px;border:0px; " src="" />
						</div>
						<div class="form-group">
							<input onchange="inputImage()" id="image-selector" type="file"/>
						</div>
						<div class="form-group" id="div4">
							<button id="predict-button" class="btn btn-warning" onclick="predictButton()">Predict</button>
						</div>
					</div>
					<div class="imagecolumn">
						<div class="form-group result">
							<!-- <p>Confidence of being original image: <span id="original-confidence"></span></p> -->
							<p id="chance"><font color="7A0000"><b>Chances of being edited:</b></font> <span id="filtered-confidence" ></span></p>
							<p id="summary"><font color="241956"><b>Summary:</b> </font><span id="prediction" ></span>
							</p>
						</div>
					</div>
				</div>
				
				 
				<div class="headText">
					<h6><b>Some example images our system can detect:</b></h6>
				</div>
				<div class="rowHead">
					<div class="columnHead" id="img1">
						<img src="{{ url_for('static',filename='images/img1.jpg') }}" style="height:80px;border:0px; " alt="Original">
						<figcaption>Original</figcaption>
					</div>
					<div class="columnHead" id="img2">
						<img src="{{ url_for('static',filename='images/img2.jpg') }}" style="height:80px;border:0px; " alt="Gotham Filter">
						<figcaption>Edited</figcaption>
					</div>
				
					<div class="columnHead" id="img3">
						<img src="{{ url_for('static',filename='images/img3.jpg') }}" style="height:80px;border:0px; "alt="Nashville Filter">
						<figcaption>Edited</figcaption>
					</div>
					<div class="columnHead" id="img4">
						<img src="{{ url_for('static',filename='images/img4.jpg') }}" style="height:80px;border:0px; " alt="Sepia Filter">
						<figcaption>Edited</figcaption>
					</div>
				</div>
		  	</div>
		  	<div class="column" id="right">
				<h2>Survey: <font size=15%>(Participate here to help us in improving your experience.)</font></h2><h6><font color = "B71C1C">*</font> Indicates required fields.</h6>
				<!-- <hr class="my-4"> -->
				<h5><b>User Information</b></h5>
				
				<div class="userInfo1">
					<div class="info1" style="padding-top:4px; ">
						<!-- <form> -->
							<font color = "B71C1C">*</font> <b>Gender:</b>
							  <input type="radio" name="gen" id="gen1" value="Male"> Male
							  <input type="radio" name="gen" id="gen2" value="Female"> Female
							  <input type="radio" name="gen" id="gen3" value="Other"> Other
						<!-- </form> -->
					</div>
					<div class="info1">
						<!-- <form> -->
							<font color = "B71C1C">*</font><b> Age: </b><input type="text" name="age" id="age" placeholder="Enter your age in years" value="" required>
						<!-- </form> -->
						
					</div>
				</div>
				<div class="userInfo2">
					<div class="info2">
						
						<form>
						<font color = "B71C1C">*</font><b> Education: </b><select id="education" name="education" value="Postgraduate" required>
							<option value="Postgraduate">Postgraduate</option>
							<option value="Graduate">Graduate</option>
							<option value="Undergraduate">Undergraduate</option>
							<option value="Higher Secondary School">Higher Secondary School</option>
							<option value="Secondary School">Secondary School</option>
						</select>
						</form>
						
					</div>
					<div class="info2">
						<form>
							<font color = "B71C1C">*</font><b> Location: </b><input type="text" name="location" id="location" placeholder="Enter your location" value="" required>
						</form>
					</div>
				</div>
			   
				<h5><b>Survey Questions:</b></h5>
				<div class="form-group-survey">
					<font color = "B71C1C">*</font> 1. Is the <font color = "7A0000"><b> "Chances of being edited"</b></font> satisfactory? 
					<input type="radio" name="pred1" id="q1pred1" value="option11" required> Yes
					<input type="radio" name="pred1" id="q2pred1" value="option12" required> No

				</div>
				<div class="form-group-survey">
					<font color = "B71C1C">*</font> 2. Is the <font color = "241956"><b> "Summary"</b></font> satisfactory?
					<input type="radio" name="pred2" id="q1pred2" value="option21" required> Yes
					<input type="radio" name="pred2" id="q2pred2" value="option22" required> No
				</div>

				<div class="form-group-survey">
					<font color = "B71C1C">*</font> 3. Which of the two methods of feedback is more preferable?
				</div>

				<div class="form-group-survey-q3">
					<input type="radio" name="pred3" id="q1pred3" value="option31" required> <font color = "7A0000"><b> "Chances of being edited"</b></font>
					<input type="radio" name="pred3" id="q2pred3" value="option32" required> <font color = "241956"><b> "Summary"</b></font>
					<input type="radio" name="pred3" id="q3pred3" value="option33" required>Both
				</div>

				<div class="form-group-survey-u">
					4. What do you think the <font color = "241956"><b>"Summary"</b></font> should be?
				</div>

				<div class="form-group-survey-q3">
					<input type="radio" name="userPrediction" id="userPrediction" value="option41"> None
				    <input type="radio" name="userPrediction" id="userPrediction" value="option42"> Low
				    <input type="radio" name="userPrediction" id="userPrediction" value="option43"> Moderate
				    <input type="radio" name="userPrediction" id="userPrediction" value="option44"> High
				    <input type="radio" name="userPrediction" id="userPrediction" value="option45"> Sure

				</div>

				<div class="form-group-survey-u">
					5. What do you think the <font color = "7A0000"><b>"Chances of being edited"</b></font> should be? (Example: 78) 
					

				</div>

				<div class="endingRow">
					<div class="endingColumn">
						<div class="form-group-survey-q3" style="padding-top: 2%; ">
							<input type="text" name="userSummary" id="userSummary" placeholder="Enter a percentage" value="" required>

						</div>
					</div>

					<div class="endingColumn">
						<div class="form-group-survey" style="padding-left: 15%; ">
							<button id="submit" onclick="getAndSend()" class="btn btn-primary" type="button" name="button">Submit</button>
						</div>	
					</div>


				</div>
		  	</div>
		</div>
	</div>

	<script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
	<script>
		function round(value, exp) {
			  if (typeof exp === 'undefined' || +exp === 0)
					return Math.round(value);

			  value = +value;
			  exp = +exp;

			  if (isNaN(value) || !(typeof exp === 'number' && exp % 1 === 0))
					return NaN;

			  value = value.toString().split('e');
			  value = Math.round(+(value[0] + 'e' + (value[1] ? (+value[1] + exp) : exp)));

			  value = value.toString().split('e');
			  return +(value[0] + 'e' + (value[1] ? (+value[1] - exp) : -exp));
		}

		let base64Image;
		$
		function inputImage(){
			let reader = new FileReader();
			reader.onload = function(e){
				let dataURL = reader.result;
				$('#selected-image').attr("src", dataURL);
				base64Image = dataURL.replace("data:image/jpeg;base64,", "");
				console.log(base64Image);
			};
			reader.readAsDataURL($("#image-selector")[0].files[0]);
			$("#original-prediction").text("");
			$("#filtered-prediction").text("");
		}

		function predictButton() {
			// let str="chashistring";
			let message = {
				image: base64Image
				// mystr: str

			};
			console.log(message);
			$.post("https://inner-eye.herokuapp.com/predict", JSON.stringify(message), function(response){
				// $("#original-confidence").text((round(response.prediction.original * 100, 0).toFixed(0)) + "%");
				$("#filtered-confidence").text((round(response.prediction.filtered * 100, 0).toFixed(0)) + "%");
				
				let filteredConfidence = response.prediction.filtered.toFixed(6);
				let prediction = "";
				if(filteredConfidence >= 0 && filteredConfidence <= 0.20) prediction = "InnerEye thinks there is no chance of the image being edited.";
				else if(filteredConfidence > 0.20 && filteredConfidence <= 0.40) prediction = "InnerEye thinks there is low chance of the image being edited.";
				else if(filteredConfidence > 0.40 && filteredConfidence <= 0.60) prediction = "InnerEye thinks there is moderate chance of the image being edited.";
				else if(filteredConfidence > 0.60 && filteredConfidence <= 0.80) prediction = "InnerEye thinks there is high chance of the image being edited.";
				else if(filteredConfidence > 0.80 && filteredConfidence <= 1.00) prediction = "InnerEye is sure that the image is edited.";
				
				// $("#prediction").text(prediction);
				document.getElementById("prediction").innerHTML =prediction;
				console.log(response);
			});
			
		}
		
		function getAndSend() {
			let uAge = document.getElementById("age").value;
			let uLocation = document.getElementById("location").value;
			let uEducation=document.getElementById("education").value;
			
			let uGender = $("input[name='gen']:checked").val();
			let uPred1=$("input[name='pred1']:checked").val();
			let uPred2=$("input[name='pred2']:checked").val();
			let uPred3=$("input[name='pred3']:checked").val();
			let uPred4=$("input[name='userPrediction']:checked").val();
			let uPred5= document.getElementById("userSummary").value;

			let userInfo = {
				age : uAge,
				location : uLocation,
				education : uEducation,
				gender : uGender,
				pred1 : uPred1,
				pred2 : uPred2,
				pred3 : uPred3,
				pred4 : uPred4,
				pred5 : uPred5
			};

			console.log(userInfo);
			
			$.post("https://inner-eye.herokuapp.com/store", JSON.stringify(userInfo), function(response){
				console.log(response);
				location.reload(true);
			});

		}
	</script>


</body>
</html>