body{
  background-color: #2A9D75 !important;
}
.my-4{
  background-color: #FF9F1C !important;
}
/*#selected-image{
  width: 300px;
  height: auto;
}*/
.main-body{
  background-color: #264653 !important;
  color: #FDFFFC;
  /*border-top: 40px solid #2A9D75;*/
  /*border-bottom: 40px solid #2A9D8F;*/
  /*padding: 5% !important;*/
  height: 700px;

}
.header{
  padding: 0.5%;
}
td{
  padding:0.2%;
}

input[type="radio"]{
  /*padding-left: 15;*/
/*  padding-right: 2%;*/
  margin-left: 1%;
}

#chance{
  /*background-color:#FFFFFF; */
  height:30px;
  padding:1px;
}
#summary{
  /*background-color:#FFFFFF; */
  height:30px;
  padding: 1px;
}

#filtered-confidence{
  color:#000000;
}

#prediction{
  color:#000000;
}
figcaption{
  padding-top: 5%;
}
.form-group-survey{
  padding: 0.5%;
}
.form-group-survey-q3{
  padding: 0.5%;
  padding-left: 2%;
}
.form-group-survey-u{
  padding: 0.5%;
  padding-left: 2%;
}
.imagecolumn {
  float: left;
  width: 50%;
  padding: 5%;
  height: 270px; /* Should be removed. Only for demonstration */

}

/* Clear floats after the columns */
.imagerow:after {
  content: "";
  display: table;
  clear: both;
  padding-bottom:1%;
}

.columnHead {
  float: left;
  width: 25%;
  /*padding: 15px;*/
  padding-left: 2%;
  height: 150px; /* Should be removed. Only for demonstration */

}

.headText {
  padding-left: 2%;
}

/* Clear floats after the columns */
.rowHead:after {
  content: "";
  display: table;
  clear: both;

}
.column {
  float: left;
  width: 50%;
  padding: 1.5%;
  height: 540px; /* Should be removed. Only for demonstration */

}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

#left{
  background-color: #2B8A64 !important;
}
#right{
  background-color: #2A9D75 !important;
}
.info1 {
  float: left;
  width: 50%;
  /*padding: 2px;*/
  height: 40px; /* Should be removed. Only for demonstration */
}

/* Clear floats after the columns */
.userInfo1:after {
  content: "";
  display: table;
  clear: both;
  
}

.info2{
  float: left;
  width: 50%;
  /*padding: 2px;*/
  height: 40px; /* Should be removed. Only for demonstration */
}

/* Clear floats after the columns */
.userInfo2:after {
  content: "";
  display: table;
  clear: both;
}

.form-check-label{
  padding: 10px;
}


#age{
  padding-left:1px;
  height: 30px;
}
#location{
  padding-left:1px;
  height: 30px;
}
#education{
    
    padding: 5px;
    height: 30px;
}

.form-check-survey {
  float: left;
  width: 50%;
  /*padding: 10px;*/
  height: 60px; /* Should be removed. Only for demonstration */
}

/* Clear floats after the columns */
.survey:after {
  content: "";
  display: table;
  clear: both;
}
.form-check-survey2 {
  float: left;
  width: 100%;
  /*padding: 10px;*/
  height: 120px; /* Should be removed. Only for demonstration */
}

/* Clear floats after the columns */
.survey2:after {
  content: "";
  display: table;
  clear: both;
}

.form-check-survey3 {
  float: left;
  width: 50%;
  /*padding: 10px;*/
  height: 120px; /* Should be removed. Only for demonstration */
}

/* Clear floats after the columns */
.survey3:after {
  content: "";
  display: table;
  clear: both;
}

.endingColumn{
  float: left;
  width: 50%;
  /*padding: 2px;*/
  padding-left: 2%;
  height: 40px; /* Should be removed. Only for demonstration */
}

/* Clear floats after the columns */
.endingRow:after {
  content: "";
  display: table;
  clear: both;
}

#submit{
}

/*#predHead{
  padding-left: 2%;
}*/
/*#popup{display:none !important; background:#efefef; border:1px solid black; width:50%; height:100px;}*/